default=0
timeout=3

set ORDER="A B"
set A_OK=1
set B_OK=0
set A_TRY=0
set B_TRY=0
load_env --file=(hd0,2)/grubenv

# select bootable slot
for SLOT in $ORDER; do
    if [ "$SLOT" == "A" ]; then
        INDEX=1
        OK=$A_OK
        TRY=$A_TRY
        A_TRY=1
    fi
    if [ "$SLOT" == "B" ]; then
        INDEX=2
        OK=$B_OK
        TRY=$B_TRY
        B_TRY=1
    fi
    if [ "$OK" -eq 1 -a "$TRY" -eq 0 ]; then
        default=$INDEX
        break
    fi
done

# reset booted flags
if [ "$default" -eq 0 ]; then
    if [ "$A_OK" -eq 1 -a "$A_TRY" -eq 1 ]; then
        A_TRY=0
    fi
    if [ "$B_OK" -eq 1 -a "$B_TRY" -eq 1 ]; then
        B_TRY=0
    fi
fi

save_env --file=(hd0,2)/grubenv A_TRY A_OK B_TRY B_OK ORDER

CMDLINE="console=ttyS0,115200 net.ifnames=0 panic=60"

menuentry "Rescue" {
    linux (hd0,3)/boot/bzImage root=/dev/sda3 $CMDLINE rauc.external
}

menuentry "Slot A (OK=$A_OK TRY=$A_TRY)" {
    linux (hd0,4)/boot/bzImage root=/dev/sda4 $CMDLINE rauc.slot=A
}

menuentry "Slot B (OK=$B_OK TRY=$B_TRY)" {
    linux (hd0,5)/boot/bzImage root=/dev/sda5 $CMDLINE rauc.slot=B
}

