[Unit]
Description=Service to grow data partition size
DefaultDependencies=no
Before=home.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/parted --script /dev/mmcblk0 resizepart 4 100%

[Install]
WantedBy=home.mount
