CONFIG_BOOTDELAY=3
CONFIG_CMD_SETEXPR=y
CONFIG_ENV_EXT4_INTERFACE="mmc"
CONFIG_ENV_EXT4_DEVICE_AND_PART="1:1"
CONFIG_ENV_EXT4_FILE="/boot/uboot.env"
CONFIG_LEGACY_IMAGE_FORMAT=y
CONFIG_ENV_OFFSET=0x0000
# CONFIG_ENV_IS_NOWHERE is not set
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_INTERFACE="mmc"
CONFIG_ENV_FAT_DEVICE_AND_PART="1:1"
CONFIG_ENV_FAT_FILE="uboot.env"
CONFIG_BOOTCOMMAND="load mmc 1:1 $loadaddr boot.scr; source $loadaddr"
