name: meta-rauc-raspberrypi CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the kirkstone branch
  push:
    branches:
      - kirkstone
    paths:
      - 'meta-rauc-raspberrypi/**'
  pull_request:
    branches:
      - kirkstone
    paths:
      - 'meta-rauc-raspberrypi/**'
jobs:
  build:
    name: meta-rauc-raspberrypi Build
    runs-on: ubuntu-20.04
    steps:
      - name: Install required packages
        run: |
          sudo apt-get install diffstat
      - name: Checkout
        uses: actions/checkout@v3
      - name: Clone poky
        run: git clone -b kirkstone git://git.yoctoproject.org/poky
      - name: Clone meta-rauc
        run: git clone -b kirkstone https://github.com/rauc/meta-rauc.git
      - name: Clone meta-raspberrypi
        run: git clone -b kirkstone git://git.yoctoproject.org/meta-raspberrypi
      - name: Initialize build directory
        run: |
          source poky/oe-init-build-env build
          bitbake-layers add-layer ../meta-rauc
          bitbake-layers add-layer ../meta-raspberrypi
          bitbake-layers add-layer ../meta-rauc-raspberrypi
          echo 'INHERIT += "rm_work"' >> conf/local.conf
          echo 'DISTRO_FEATURES:remove = "alsa bluetooth usbgadget usbhost wifi nfs zeroconf pci 3g nfc x11 opengl ptest wayland vulkan"' >> conf/local.conf
          echo 'SSTATE_MIRRORS = "file://.* http://195.201.147.117/sstate-cache/PATH"' >> conf/local.conf
          echo 'MACHINE = "raspberrypi4"' >> conf/local.conf
          echo 'DISTRO_FEATURES:append = " rauc"' >> conf/local.conf
          echo 'IMAGE_INSTALL:append = " rauc"' >> conf/local.conf
          echo 'IMAGE_FSTYPES = "ext4"' >> conf/local.conf
          echo 'WKS_FILE = "sdimage-dual-raspberrypi.wks.in"' >> conf/local.conf
      - name: bitbake parsing test
        run: |
          source poky/oe-init-build-env build
          bitbake -p
